body {
  margin: 20px;
  font-family: verdana;
  }

  .titulo {
      background-color: aliceblue;
      text-align: center;
      padding: 10px;
  }

.resaltado {
  background-color: yellow
}

.mainmenu {
  padding: 10px 0px;
}

footer {
  border-top: 1px solid black;
  padding-top: 10px;
  text-align: center;
}
